services:
  invokeai:
    image: 'ghcr.io/invoke-ai/invokeai:${IMAGE_TAG:-main-rocm}'
    extends:
      file: 'gpu-support.yml'
      service: '${GPU_DRIVER:-rocm}'
    ports:
      - '${BIND_ADDRESS:-127.0.0.1}:${BIND_PORT:-9090}:9090'
    volumes:
      - '${DATA_DIR:-./data}:/invokeai:Z,U'
      - '${HF_CACHE_DIR:-./cache/huggingface}:/invokeai/.cache/huggingface:Z,U'
      - '/etc/localtime:/etc/localtime:ro'
    env_file: '.env'
    restart: unless-stopped
    logging:
      driver: 'json-file'
      options:
        max-size: '${LOG_MAX_SIZE:-5m}'
        max-file: '${LOG_MAX_FILE:-5}'
  comfyui:
    image: corundex/comfyui-rocm:latest
    extends:
      file: 'gpu-support.yml'
      service: '${GPU_DRIVER:-rocm}'
    group_add:
      - video
    ports:
      - "8188:8188"
    volumes:
      - ./data/comfyui/models:/workspace/ComfyUI/models
      - ./data/comfyui/output:/workspace/ComfyUI/output
      - ./data/comfyui/input:/workspace/ComfyUI/input
      - ./data/comfyui/custom_nodes:/workspace/ComfyUI/custom_nodes
      - ./data/comfyui/user:/workspace/ComfyUI/user
    environment:
      - MODEL_DOWNLOAD=default
      - HIP_VISIBLE_DEVICES=0
      - CUDA_VISIBLE_DEVICES=""
    restart: unless-stopped
